h1 {
  padding: 20px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #4ab19d;
  padding: 10px;
}

.landing,
.dashboard {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  padding-bottom: 20px;
}

.landing img {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.landing-button {
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  background-color: #4ab19d;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
}

.landing-button:hover {
  background-color: #efc958;
  color: #344e5c;
}

main {
  width: 80%;
}

span {
  margin: 40px;
}

.landing-buttons {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  .landing {
    flex-direction: column;
  }

  .tagline {
    width: 100%;
  }

  .landing-buttons {
    width: 100%;
  }

  main {
    width: 100%;
  }
}