h1 {
  padding: 20px;
  text-align: center;
}


h2 {
	margin: 0;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #4ab19d;
  padding: 10px;
}

.landing, .dashboard {
	text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.signup {
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


form {
    padding-bottom: 20px;
}


.landing img {
  border-radius: 10px;
  width: 40%;
  height: auto;
}

.landingButton {
  background-color: #4ab19d;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}


.landingButton:hover {
  background-color: #efc958;
  color: #344e5c
}

main {
  width: 80%
}

span {
  margin: 40px
}



@media screen and (max-width: 700px){
  .landing
   {
    flex-direction: column;
  }

  main {
  width: 100%
}
 
}


