.segmented-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.segmented-control__item {
  list-style-type: none;
}

.segmented-control__input {
  position: absolute;
  opacity: 0;
}

.segmented-control__label {
  border-radius: 5px;
  padding: 10px 25px;
  display: block;
  border: 1px solid #555;
  text-align: center;
  cursor: pointer;
}

.segmented-control__label:hover {
  opacity: 50%;
  background: #344e5c;
  color: #efc958;
}

.segmented-control__input:focus + .segmented-control__label {
  outline: 1px solid #4ab19d;
}

.segmented-control__input:checked + .segmented-control__label {
  background: #4ab19d;
  color: #fff;
}

.addFormButton {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.addFormButton:hover {
  background-color: #344e5c;
  color: #efc958;
}

.post-job-form button {
  margin-top: 5px;
  margin-left: 5px;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #4ab19d;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
