.job-card {
 border-radius: 10px;
  box-shadow: #4ab19d 0 0 3px;
  margin: 10px;
  min-height: 150px;
}

.dashboardButton {
  background: none;
  border: none;
  padding: 0;
  color: #4ab19d;
  cursor: pointer;
  outline: inherit;
}

p {
  display: block
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #344e5c;
}

.dashboardButton:hover {
  color: #efc958
}



h2{   text-shadow:  
      1px -1px 0 #efc958 }

