.job-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-height: 150px;
  min-width: 200px;
  background-color: rgb(250, 250, 250);
  list-style: none;
  max-width: 350px;
  margin: 27.5px auto;
  padding-top: 20px;
  position: relative;
}

.dashboard-button {
  background: none;
  border: none;
  color: #4ab19d;
  cursor: pointer;
  outline: inherit;
}

.dashboard-button:hover {
  color: #efc958;
}

.dashboard-button:focus {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.job-content {
  display: flex;
  flex-direction: column;
}

.job-card img {
  border-radius: 50%;
  height: 50px;
  position: absolute;
  left: -20px;
  top: -20px;
  border: 1px solid #4ab19d;
  width: 50px;
  object-fit: contain;
  background-color: #fff;
}