.editButton {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #344e5c;
  color: #efc958;
}

.form-input {
  box-shadow: #4ab19d 0 0 5px;
  border-radius: 8px;
}

.post-job-form button:hover {
  opacity: 50%;
  background: #344e5c;
  color: #efc958;
}

