.categories {
  width: 100%;
}

.category-list {
  list-style: none;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  min-height: 80vh;
}

.job-column {
  flex: 1;
  background-color: #dfe6e9;
  margin: 5px;
  border-radius: 3.5px;
  padding: 25px;
}

.dashboard-button {
  background: none;
  border: none;
  color: #4ab19d;
  cursor: pointer;
  outline: inherit;
}

.dashboard-button:hover {
  color: #efc958;
}

.dashboard-button:focus {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px){
  .category-list {
    flex-flow: column wrap;
    max-width: 450px;
    margin: 0 auto;
  }
  
  .column-title {
    order: 1;
  }
}


