.company {
  display: flex;
}

.company div {
  flex: 1
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
}


[type=radio]:checked+img {
  border: 2px solid #efc958;
}

.company img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid green;
}