
.login-button {
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  background-color: #4ab19d;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
}

.login-button:hover {
  background-color: #efc958;
  color: #344e5c;
}